*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: opacity 0.75s, visibility 0.75s;
}

.loader-group
{
    background: #ffcd26;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-group--hidden
{
    opacity: 0;
    visibility: hidden;
}

.loader
{
    position: relative;
    width: 80%;
    animation: animate 10s linear infinite;
}

.loader img {
    width: 100%;
}

@keyframes animate
{
    0%
    {
        
    }
    
    100%
    {
        
    }
}